@charset 'utf-8';

/*RESET*/
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*font-family
font-family: 'Noto Sans KR', sans-serif;
font-family: 'PT Serif', serif;
*/
/*float 해제하는 가상선택자*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/*영문폰트 적용*/
.eng {
    font-family: 'PT Serif', serif;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

header h1 {
    width: 30%;
    float: left;
    /*    background-color: forestgreen;*/
    text-align: center;
}

header h1 img {
    width: 60%;
    vertical-align: middle;
}

header nav {
    width: 50%;
    float: left;
    text-align: center;
    font-family: 'PT Serif', serif;

    /*    background-color: yellow;*/
}

header nav ul li {
    width: 20%;
    display: inline-block;
    font-size: 20px;
    /*    outline: 2px solid red;*/
    padding-top: 2%;
}

header nav ul li a {
    color: black;
    padding-bottom: 3px;
    transition: all 0.5s;
}

header nav ul li a:hover {
    color: #00c5ba;
    border-bottom: 3px solid #00c5ba;
}

header .sns {
    width: 20%;
    text-align: right;
    float: right;
    /*    background-color: dodgerblue;*/
}

header .sns > a > img {
    width: 46px;
}

header .sns > a:first-child > img {
    padding-right: 10px;
}

section {
    width: 80%;
    margin: 0 auto;
    /*    text-align: center;*/
}

/*****INTRO**************************/
.intro {
    width: 100%;
    height: 550px;
    /*    background-color: yellow;*/
    background: url(images/rb_logo.png) no-repeat right bottom/550px;
    position: relative;
}

.intro .left-box {
    width: 34%;
    position: absolute;
    top: 34%;
}

.intro .left-box .des-en {
    color: darkgray;
    font-size: 1.4em;
    line-height: 1.4;
    /*비율로 넣는법*/
    /*line-height:30px* 픽셀로 넣는법*/
    margin-bottom: 30px;
}

.intro .left-box .des-ko {
    font-size: 1.2em;
}

.intro .btn {
    font-size: 1.2em;
    border: 2px solid #e64461;
    padding: 14px;
    color: #e64461;
    position: absolute;
    bottom: 14%;
    border-radius: 6px;
}

.intro .btn:hover {
    color: white;
    background-color: #e64461;
    font-weight: bold;
}

/*****WORKS**************************/
.works {
    margin-top: 80px;
}

.works .img-box {
    width: 23%;
    margin: 1%;
    float: left;
    overflow: hidden;
}

.works .img-box img {
    width: 100%;
    display: block;
    transition: all .5s;

}

.works .img-box img a {
    /*    display: block;*/
}

.works .img-box img:hover {
    transform: scale(1.5);
}

/*****-ABOUT**************************/
.about {
    height: 460px;
    background: url(images/people_01-1.png) no-repeat bottom/contain;
    /* background-size ~
    100%-요소와 동일한 크기로 배경이미지 보여줌 (이미지 왜곡될수있음) 
    cover-주어진 공간에 이미지를 최대한 크게 다 채우는것 (이미지가 잘릴수있음)
    contain -주어진 공간에 이미지가 100% 보이는것(잘리는 부분없이 동일한 비율유지)*/
    margin-top: 80px;
    /*    background-color: yellow;*/
    position: relative;
    font-family: 'PT Serif', serif;
}

.about h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 20px;
    letter-spacing: 0.6px;
    /*글자 자간의 간격 조절*/
}

.about p {
    width: 54%;
    font-size: 1.2em;
    margin: 0 auto;
    /*블럭 옮기기*/
    text-align: center;
}

.about .btn-more {
    font-size: 1.2em;
    padding: 14px;
    border: 2px solid #00c5b4;
    color: #00c5b4;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.about .btn-more:hover {
    background-color: #00c5b4;
    color: white;
    font-weight: bold;
}

/*****NEWS**************************/
.news {
    margin-top: 80px;
}

.news h2 {
    font-size: 2em;
    font-family: 'PT Serif', serif;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.news p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.news .box {
    width: 32%;
    margin-right: 1%;
    float: left;
    /*    outline: 2px solid red;*/
}

.news .box img {
    width: 100%;
}

.news .box .title a {
    color: #333;
    /*black 대신*/
    margin-top: 40px;
    height: 40px;
}

.news .box .title a:hover {
    color: darkseagreen;
    text-decoration: underline;
}

.news .box .date {
    font-size: 0.9em;
    color: darkgray;
}

/*****CONTACT**************************/

.contact {
    width: 100%;
    height: 500px;
    margin-top: 80px;
    background-color: darkseagreen;
    background: url(images/rb-03.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.contact h2 {
    color: white;
    font-size: 3em;
    padding-top: 80px;
}

.contact p {
    font-size: 1.2em;
    padding-top: 30px;
    color: white;

}

.contact .btn-more2 {
    color: #fff;
    border: 2px solid #ccc;
    font-size: 1.2em;
    padding: 14px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(-50%);
}

.contact .btn-more2:hover {
    background-color: black;
    border: 2px solid #000;
    font-weight: bold;
}

footer {
    width: 80%;
    margin: 0 auto;
    position: relative;
/*    background-color: darkseagreen;*/
}

footer .footer_box {
    width: 33.3%;
    float: left;
    margin: 60px 0;
/*    outline: 3px solid lime;*/
}

footer .footer_box h2 {
    font-size: 1em;
    margin-bottom: 20px;
}

footer .footer_box p {
    font-size: 0.9em;
    color: darkgray;
}

footer .top {
    clear: both;
    position: absolute;
    right: 0;
    top: 100px;
}