@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

/*//.RESET*/

/*구글 웹폰트
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Merriweather', serif;
*/

/***HEADER*********************************************/
header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #eee;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: white;


}

header .inner-header {
    position: relative;
    /*    로고의 기준, 부모요소*/
    width: 90%;
    margin: 0 auto;
    height: 80px;
    /*    background-color: lightcoral;*/
}

header .inner-header .menu {
    width: 20%;
    height: 80px;
    background: url(images/btn_menu.svg) no-repeat center;
    background-size: 50%;
}

header .inner-header .menu a {
    display: block;
    text-indent: -9999px;
}

header .inner-header .logo {
    width: 40%;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /*    outline: 2px solid lime;*/
}

header .inner-header .logo a {
    display: block;
}

header .inner-header .logo img {
    height: 60px;
    margin-top: 10px;
}

header .inner-header .lnb {
    width: 30%;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
}

header .inner-header .lnb a {
    width: 50%;
    height: 80px;
    display: block;
    float: left;
    text-align: right;
    /*    outline: 2px solid red;*/
}

header .inner-header .lnb a img {
    height: 36px;
    margin-top: 22px;
}

/*---section--------------------*/

section {
    margin-top: 80px;
    background-color: bisque;
}

section .main {
    width: 100%;
}

section .main > a {
    display: block;
}

section .main > a > img {
    width: 100%;
    display: block;
}

section .event {
    width: 100%;
    height: 226px;
    background: url(images/m-banner.jpg) no-repeat center/cover;

}

section .event a {
    display: block;
    text-indent: -9999px;
}

section .md-pick {
    width: 100%;
    margin-top: 50px;
}

section .md-pick .md-wrap {
    width: 90%;
    margin: 0 auto;
}

section .md-pick .md-wrap h2 {
    text-align: center;
    margin-bottom: 30px;

    font-family: 'Merriweather', serif;
    color: rgb(207, 102, 26);
}

section .md-pick .md-wrap .md-box-wrap {
    width: 100%;
}

.md-box-wrap .md-box {
    width: 50%;
    float: left;
    /*    outline: 2px solid red;*/
}

.md-box-wrap .md-box .photo {
    width: 90%;
    overflow: hidden;
    margin: 00 auto;
}

.md-box-wrap .md-box .photo a {
    display: block;

}

.md-box-wrap .md-box .photo a img {
    display: block;
    width: 100%;
}

.md-box-wrap .md-box .txt-box {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.md-box-wrap .md-box .txt-box .name {
    font-size: 14px;
    letter-spacing: -0.6px;
    font-weight: 700;
    color: #333;
    display: block;
}

.md-box-wrap .md-box .txt-box .price {
    font-weight: 700;
    padding-top: 14px;
    color: rgb(207, 102, 26);
    display: inline-block;
}

.md-pick .md-wrap .md-pager {
    width: 100%;
    text-align: center;
    font-size: 18px;

}

.md-pick .md-wrap .md-pager li {
    display: inline-block;
}

.md-pick .md-wrap .md-pager li a {
    color: #999;
}

.md-pick .md-wrap .md-pager li:first-child a {
    color: rgb(207, 102, 26)
}

.new {
    width: 100%;
    margin-top: 80px;
}

.new h2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;

    font-family: 'Merriweather', serif;
    color: rgb(207, 102, 26);
}

.new .slider-box {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.new .slider-box .slider {
    width: 100%;
}

.new .slider-box .slider a {
    display: block;
}

.new .slider-box .slider a img {
    width: 100%;
    display: block;
}

.new .slider-box .slider .box p {
    margin-top: 20px;
    font-size: 22px;
    letter-spacing: -1px;
    font-family: 'Merriweather', serif;
    color: rgb(207, 102, 26);
    text-align: center;
}

.new .new-pager {
    width: 100%;
    text-align: center;
}

.new .new-pager {
    display: inline-block;
    font-size: 18px;
}

.new .new-pager li:first-child a {
    color: rgb(207, 102, 26);
}

.new .new-pager li a {
    color: #999;
}

.instagram {
    text-align: center;
    width: 100%;
    margin-top: 80px;
    background-color: rgb(124, 81, 161);
    padding: 50px 0 30px;
}

.instagram h2 {
    font-family: 'Nanum Gothic', sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 1.6;
}

.instagram .img-wrap {
    width: 90%;
    margin:40px auto;
}

.instagram .img-wrap .img-box {
    width: 33.33%;
    float: left;
}

.instagram .img-wrap .img-box a {
    display: block;
}

.instagram .img-wrap .img-box a img {
    width: 100%;
/*    display: block;*/
    float: left;
}
.instagram .btn {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background: rgb(207,102,26);
    padding: 10px 20px;
    display: inline-block;
}



/*---footer--------------------*/
footer {
    width: 100%;
    background-color: lightgray;
    padding: 30px 0;
}
footer .inner-footer{
    width: 90%;
    margin: 0 auto;
}
footer .inner-footer .sns {
/*    outline: 3px solid red;*/
/*    text-align: center;*/
    width: 60%;
    margin-bottom: 30px;
    margin: 0 auto;
}
footer .inner-footer .sns a {
    width: 25%;
    text-align: center;
    display: block;
    float: left;
/*    outline: 3px solid lime;    */
}
footer .inner-footer .sns a img {
    width: 70%;
    }
footer .inner-footer .link {
    width: 90%;
    margin: 0 auto;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
}
footer .inner-footer .link a {
    color: #333;

    /*
    링크 줄간격
    display: inline-block;
    margin-bottom: 6px;
*/
}
footer .inner-footer .info {
    text-align:center;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.6px;
}
footer .inner-footer .info>span {
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
}