@charset 'utf-8';

/*reset css*/
* {
    margin: 0;
    padding: 0;

}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/*//reset css*/

/*MAIN css*/
body {
    color: white;
    background-image: url(images/bg.jpg);

}

header {
    width: 100%;
    height: 100px;
    background-image: url(images/bg-header.jpg);
    position: fixed;
    z-index: 99999;
}

.header-inner {
    width: 960px;
    margin: 0 auto;
    /*background-color: lightskyblue;*/
    height: 100px;
}

.header-inner h1 {
    float: left;
    margin-left: 24px;
    /*background-color: lime;
*/
}

.header-inner h1 img:first-child {
    margin-bottom: 20px;
}

.header-inner nav

/*블럭요소*/
    {
    line-height: 100px;
    float: right;
    /*
    background-color: antiquewhite;*/
}

.header-inner nav a {
    color: silver;
}

.header-inner nav a:hover {
    color: greenyellow;
    font-weight: bold;
}

section {
    width: 960px;
    background-color: skyblue;
    margin: 0 auto;
    background: url(images/bg-triangle.png) no-repeat;
    }

section .content1 {
    height: 550px;
    background: url(images/triangles.png)no-repeat 123px 142px;
    /*background-color: darksalmon;*/
    position: relative; /*자식요소의 기준 위치*/
}

section .content1 h2 {
    font-size: 30px;
    position: absolute;
    right: 200px;
    top: 152px;
    
}
section .content1 .text-box {
    position: absolute;
    width: 230px;
    font-size: 13px;
    right: 26px;
    bottom: 26px;
}
section .content1 .text-box p {
    margin-bottom: 10px;
    font-weight: 100;
}
section .content1 .text-box p:first-child {
    font-size: 16px;
    font-weight: bold;
    color: greenyellow;
}
section .content1 .text-box p a {
    color: lightpink;
}
section .content1 .text-box p a:hover {
    color: black;
    background-color:lightcoral;
}
section .content2 {
    border-top: 1px solid #eee;
}
section .content2 h2 {
    padding: 10px 0 10px 8px;
    font-size: 24px;
}
section .content2 .box {
    width: 220px;/*이미지 크기 확인해서 적용*/
    float: left; /*float은 자기가 알아서 가운데에 가지 못함. 부모의 width 기준으로 박스 갯수를 나누고 컨텐츠를 빼 여백을 계산해 margin 좌우로 값을 준다*/
    margin: 0 10px; /*card news 에서 주로 자주 사용된다. ex) event 섹션 등... */
} 
section .content2 .box p {
    padding: 10px 0;
    font-size: 13px;
    border-bottom: 1px solid #eee;
} 
/*section .content2 .box p:last-child {
    border-bottom: 0;
}*/
section .content2 .box p:nth-child(4) {
    border-bottom: 0;
}
footer {
    clear: both;
    width: 100%;
    /*background-image: url(images/bg-header.jpg);*/
    background-color: rgba(0,0,0,0.4);
    padding:10px 0px;
}

.footer_wrap {
    width: 960px;
    margin: 0 auto;
    text-align: right;
    font-size: 12px; /*footer에 자주쓰이는 폰트 사이즈*/
}
.footer_wrap a {
    color: silver;
}
.footer_wrap a:hover {
    text-decoration: underline;
    color: greenyellow;
}

/*body 밑에 푸터가 딱 달라붙지 않은것은 오류가 아님. 당연한것 만약싫으면 푸터의 높이를 up*/